/* CSS Includes */
@use './partials/header';
@use './partials/home.scss';
@use './partials/music.scss';
@use './partials/last-fm.scss';
@use './partials/spinner.scss';
@use './partials/login.scss';
@use './partials/add-new-blog-post.scss';
@use './partials/blog.scss';
@use './partials/blog-show.scss';
@use './partials/contacts.scss';
@use './partials/footer.scss';

/* Font Inter Include */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Colors Variables */
:root {
    // Light Colors
    --bg-color: #e5e7eb;
    --text-color: #0f172a;
    --accent-color: #3b82f6;
    --text-secondary-color: #64748b;
    --heading-color: #1e293b;
    --icon-header-color: #005f78;
}

/* Reset Images */
img {
    display: block;
    width: 100%;
}
/* Set General Application Styles */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    transition: 0.4s;
}
body.dark-theme {
    --bg-color: #0f172a;
    --text-color: #404143;
    --accent-color: #3b82f6;
    --text-secondary-color: #cbd5e1;
    --heading-color: #cbd5e1;
    --icon-header-color: #ffc800;
}
main {
    background-color: var(--bg-color);
    color: var(--heading-color);
    flex: 1;
}

/* container */
.container {
    max-width: 80%;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .container {
        max-width: 90%;
    }
}
