/* Tailwind CSS Includes */
// @use 'tailwindcss/base';
// @use 'tailwindcss/components';
// @use 'tailwindcss/utilities';

/* CSS Includes */
@use './partials/header';
@use './partials/home.scss';
@use './partials/music.scss';
@use './partials/login.scss';
@use './partials/new-blog-post.scss';
@use './partials/contacts.scss';
@use './partials/footer.scss';

/* Font Inter Include */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Colors Variables */
:root {
    // Light Colors
    --bg-color: #e5e7eb;
    --text-color: #0f172a;
    --accent-color: #3b82f6;
    --text-secondary-color: #64748b;
    --heading-color: #1e293b;
    --icon-header-color: #005f78;
}

/* Reset Images */
img {
    display: block;
    width: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    transition: 0.4s;
}
body.dark-theme {
    --bg-color: #0f172a;
    // --text-color: #94a3b8;
    --text-color: #404143;
    --accent-color: #3b82f6;
    --text-secondary-color: #cbd5e1;
    --heading-color: #cbd5e1;
    --icon-header-color: #ffc800;
}

main {
    background-color: var(--bg-color);
    color: var(--heading-color);
}

/* container */
.container {
    max-width: 80%;
    margin: 0 auto;
    // background-color: var(--bg-color);
}

@media (max-width: 700px) {
    .container {
        max-width: 90%;
    }
}

// /* Font Awesome Includes */
// @import "@fortawesome/fontawesome-free/css/fontawesome.css";
// @import "@fortawesome/fontawesome-free/css/regular.css";
// @import "@fortawesome/fontawesome-free/css/solid.css";
// @import "@fortawesome/fontawesome-free/css/brands.css";
