.container.contacts {
    padding: 1em 0 2em 0;
    color: #f0f5fa;
    background-color: var(--bg-color);
    color: var(--heading-color);
}
.container.contacts > div {
    width: 50%;
}
.left .heading {
    font-size: 1.125rem;
    padding-bottom: 1em;
}

.left .social-menu li {
    margin: 0.5em 0;
}

.container.contacts .left .heading p {
    line-height: 30px;
    letter-spacing: 1.2px;
}

.container.contacts form label {
    font-size: 0.775rem;
    letter-spacing: 1.1px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-primary-color);
}

.container.contacts form input,
.container.contacts form textarea {
    padding: 0.5em;
    color: var(--bg-color);
}

.container.contacts form input,
.container.contacts form textarea {
    margin: 1em 0;
    border-radius: 0.2em;
    background-color: var(--text-secondary-color);
}

.form-control.email,
.form-control.email input,
.form-control.message,
.form-control.message textarea {
    width: 100%;
}

.form-control textarea {
    height: 150px;
}

.form-control.company {
    position: absolute;
    left: -9999px;
    top: auto;
    overflow: hidden;
}

// Media queries
@media (max-width: 1024px) {
    .container.contacts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container.contacts .left,
    .container.contacts .right {
        width: 100%;
    }
}
