.footer {
    background-color: var(--bg-color);
    color: var(--text-secondary-color);
    padding: 4em 0 2em 0;
}

.footer-info-container {
    position: relative;
}

.footer-info-container::before {
    content: '';
    width: 100%;
    height: 0.5px;
    background-color: var(--text-secondary-color);
    position: absolute;
    top: -15px;
}

.footer-social-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-secondary-color);
}
.footer-social-menu li {
    font-size: 1.5rem;
}

@media (max-width: 350px) {
    .footer-info-container {
        flex-direction: column;
    }
}
