.header {
    background-color: var(--bg-color);
    // color: var(--text-light-color);
    color: var(--heading-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
.header .logo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.header .image-logo {
    max-width: 90px;
}
.header .navigation ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .navigation ul li {
    font-size: 1.125rem;
    font-weight: 400;
}
.header .navigation ul li:hover {
    color: var(--accent-color);
}
.header .navigation ul li:last-child:hover {
    color: var(--icon-header-color);
    // color: #005f78; // Moon Color
    // color: #ffc800; Sun Color
}
