span.name {
    position: relative;
    z-index: 2;
    color: #fff;
}
span.name::after {
    content: '';
    background-color: var(--accent-color);
    clip-path: polygon(30% 0, 65% 0, 70% 100%, 35% 100%);
    width: 140px;
    height: 230px;
    display: block;
    transform: rotate(90deg);
    position: absolute;
    left: 43px;
    top: -98px;
    z-index: -1;
}
/* about & what i do */

.about .content {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 1em;
}
.about-card,
.what-i-do-card {
    padding: 1.325em;
    width: 50%;
    background-color: #ccd4e1;
    color: var(--text-color);
    border-radius: 0.4em;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.15);
    line-height: 30px;
}

section.tech span {
    color: var(--text-color);
}

section.tech img {
    height: 50px;
}

body.dark-theme section.tech span {
    color: #fff;
}

/* projects */
section.projects .container > .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}
.project-card {
    border-radius: 0.2em;
    background-color: var(--text-secondary-color);
    color: var(--bg-color);
    height: 200px;
    cursor: pointer;
    // background
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // position
    position: relative;
    transition: 0.4s ease;
}
.project-card .project-name {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 100px;
    background-color: var(--accent-color);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0.5em;
}
.project-card .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: var(--accent-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card:hover .overlay {
    color: #fff;
    opacity: 1;
}

@media (max-width: 1000px) {
    .about .content {
        flex-direction: column;
    }
    .about-card,
    .what-i-do-card {
        width: 100%;
    }
}

// Media Queries
@media (max-width: 550px) {
    .container {
        max-width: 90%;
    }
    span.name {
        font-size: 24px;
    }
    span.name::after {
        width: 100px;
        left: 65px;
        top: -101px;
        clip-path: polygon(35% 20%, 70% 20%, 70% 100%, 35% 100%);
    }
}
@media (max-width: 480px) {
    span.name::after {
        display: none;
    }
}
@media (max-width: 300px) {
    span.name::after {
        display: none;
    }
    section.projects .container > .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
