span.name {
    position: relative;
    z-index: 2;
    color: #fff;
}
span.name::after {
    content: '';
    background-color: var(--accent-color);
    clip-path: polygon(30% 0, 65% 0, 70% 100%, 35% 100%);
    width: 140px;
    height: 230px;
    display: block;
    transform: rotate(90deg);
    position: absolute;
    left: 43px;
    top: -98px;
    z-index: -1;
}
/* projects */
section.projects .container > .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}
.project-card {
    border-radius: 0.2em;
    background-color: var(--text-secondary-color);
    height: 100px;
}

@media (max-width: 500px) {
    .container {
        max-width: 90%;
    }
    span.name {
        font-size: 24px;
    }
    span.name::after {
        width: 100px;
    }
}
