.controls-container,
.controls-container .song-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}
.last-fm-list-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--text-secondary-color);
    padding: 0.4em;
    margin: 1em 0;
    border-radius: 0.2em;
}
.last-fm-list-style .text-container {
    display: flex;
    gap: 1em;
    align-items: center;
    width: 100%;
    padding: 0 1em;
}

@media (max-width: 650px) {
    .last-fm-list-style .text-container {
        flex-direction: column;
        padding: 0.4em;
    }
}
