.ext {
    padding-bottom: 100px;
}
.container.login-page {
    width: 500px;
    min-height: 400px;
    padding: 1em;
    border-radius: 0.2em;
    background-color: #fff;
}
.user-login-wrapper .form-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1em 0;
}
.user-login-wrapper .form-control label {
    // color: var(--text-secondary-color);
    color: var(--text-primary-color);
}
.user-login-wrapper .form-control input {
    color: var(--bg-color);
    background-color: var(--text-secondary-color);
    padding: 0.5em 1em;
    margin: 0.2em 0;
    border-radius: 0.2em;
    width: 100%;
}
