/* Music Grid */
section.music .container > .music-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}
.music-card {
    border-radius: 0.2em;
    background-color: var(--text-secondary-color);
    color: var(--bg-color);
    height: 100%;
    cursor: pointer;
    // position
    position: relative;
    transition: 0.4s ease;
}
